body  {
    background-color: black;
}
.logo{
    color: aqua;
}
.menu{
    margin-left: 200%;
}
.harold{
    margin-left: 10%;
}
.Contact{
    margin-left: 10%;
}
#main {
    margin-top: 0px;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}